# Beautiful_soup_implementation

In [8]:
from bs4 import BeautifulSoup
import os
import sys
import pandas as pd

In [4]:
with open('C:/Users/Dell/Downloads/data/rt_html/et_the_extraterrestrial.html') as file:
    bs=BeautifulSoup(file,'lxml')

In [5]:
bs.find('title')

In [11]:
bs.find('title').contents[0][:-len(' - Rotten Tomatoes')]

'E.T. The Extra-Terrestrial\xa0(1982)'

In [17]:
df_list=[]
path='C:/Users/Dell/Downloads/data/rt_html'
for i in os.listdir(path):
    with open(os.path.join(path,i)) as file:
        soup=BeautifulSoup(file,'lxml')
        title=soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score=soup.find('div',class_='audience-score meter').find('span').contents[0][:-1]
        df_list.append({'Title':title,'Audience_Score':int(audience_score)})

In [18]:
df=pd.DataFrame(df_list)

In [20]:
df.head()

   Audience_Score                                   Title
0              97  12 Angry Men (Twelve Angry Men) (1957)
1              86                     The 39 Steps (1935)
2              89     The Adventures of Robin Hood (1938)
3              94                    All About Eve (1950)
4              89   All Quiet on the Western Front (1930)